th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  h2{
      background-color: rgb(7, 22, 65);
      color: white;
      text-align: center;
  }